name: Java Maven Build
on:
    push:
        branches: ["master"]

jobs:
    build_java:
        name: Build-Project
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v4
              with:
                path: repoA
            - name: Set up Java 11 for x64
              uses: actions/setup-java@v3
              with:
                java-version: '11'
                distribution: 'temurin'
                architecture: x64
                cache: maven
            - name: Checkout Other Repo
              uses: actions/checkout@v4
              with:
                repository: AyushSrivastava2023/randomUsers
                token: ${{ secrets.PAT_TOKEN }}
                path: repoB

            - name: List Files in Repository Directory
              run: |
                ls 
                ls -al repoA
                ls -al repoB

            - name: Maven Build
              run: |
                mvn -f repoA/randomuserprofilefetcher/pom.xml clean package -DskipTests
                mvn -f repoB/randomuserprofilefetcher/pom.xml clean package -DskipTests
        
            - name: Store RepoA In Artifact
              uses: actions/upload-artifact@v4
              with:
                name: repoA
                path: /home/runner/work/RandomUsersGenerator/RandomUsersGenerator/repoA/randomuserprofilefetcher/target
            
            - name: Store RepoB In Artifact
              uses: actions/upload-artifact@v4
              with:
                name: repoB
                path: /home/runner/work/RandomUsersGenerator/RandomUsersGenerator/repoB/randomuserprofilefetcher/target
        

            
            
        
            
